<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">
		Manejo de Socios
	</ui:define>
	<ui:define name="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Manejo de Socios</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-right">
	            <h:form>
	               <div class="row">
		               <h:commandLink styleClass="btn btn-success" action="#{socioMB.showCreateView()}">Nuevo Socio
				 	      <i class="fa fa-plus"></i>
				       </h:commandLink>
	               </div>
			       <div class="row">
				      	<h:commandLink styleClass="btn btn-primary" 
				      		action="#{facturasMB.facturarTodo()}">Generar Facturas
				        </h:commandLink>
			       </div>
		       </h:form>	
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
            	<h:form>
				<h:dataTable value="#{socioMB.all}"  var = "socio" styleClass="table">
				   <h:column>    				
				      <f:facet name = "header">id</f:facet>    				
					  #{socio.id}
				   </h:column>		
				   <h:column>
				      <f:facet name = "header">DNI</f:facet>
					  #{socio.dni}
				   </h:column>					   
				   <h:column>
				      <f:facet name = "header">Nombre</f:facet>
					 #{socio.nombre}
				   </h:column>				   
				   <h:column>
				      <f:facet name = "header">Apellido</f:facet>
					 #{socio.apellido}
				   </h:column>		   
				   <h:column>
				      <f:facet name = "header">Email</f:facet>
				       #{socio.mail}
				   </h:column>			   
				   <h:column>
				      <f:facet name = "header">Domicilio</f:facet>
				       #{socio.domicilio}
				   </h:column>
				   <h:column>
				  	  <f:facet name = "header">Apto Fisico</f:facet>
					  <h:selectBooleanCheckbox value="#{socio.aptoFisico}" disabled="true"/>
				   </h:column>
				   <h:column>
				       <f:facet name = "header">Acciones</f:facet>
				       <h:commandLink styleClass="btn btn-xs btn-warning btn-sq-xs" 
				       		action="#{socioMB.showEditView(socio)}" p:data-click-on="enter">
				 	      <i class="fa fa-pencil" aria-hidden="true"></i>
				       </h:commandLink>
				       <h:commandLink styleClass="btn btn-xs btn-primary btn-sq-xs" 
				       		value="asociarMedioPago.html" p:data-click-on="enter">
				 	      <i class="fa fa-pencil" aria-hidden="true"></i>
				 	      <f:param name="id" value="#{socio.id}" /> 
				       </h:commandLink>								   
				   </h:column>
				</h:dataTable>
				</h:form>
            </div>
        </div>
    </div>
	</ui:define>
</ui:composition>
</html>