<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<ui:composition template="/WEB-INF/template/template.xhtml">
	<ui:define name="title">
		Gimnasio - Exportacion
	</ui:define>
	<ui:define name="content">
		<div class="row">
			<div class="text-center">
			<h:form>
			<h:commandLink 
					styleClass="btn btn-primary"
					action="#{exportacionMB.exportar()}">Exportar Excel
			</h:commandLink>

			</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>