<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		Tarjeta 
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<h2 id="titulo" class="text-center">
						Asociar Tarjeta Socio
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h:form>
						<h:messages styleClass="list-group"
							warnClass="list-group-item list-group-item-danger"
							errorClass="list-group-item list-group-item-danger"
							infoClass="list-group-item list-group-item-success" />
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Numero Tarjeta</label>
								<h:inputText type="text" label="numero" id="numero"
									value="#{medioPagoMB.tarjeta.numero}"
									styleClass="form-control" p:autocomplete="new-password" />
							</div>
							<div class="col-md-6 form-group">
								<label>Codigo de Seguridad</label>
								<h:inputText type="text" label="codseg" id="codeseg"
									value="#{medioPagoMB.tarjeta.codseg}"
									styleClass="form-control" p:autocomplete="new-password" />
							</div>
						</div>>
						<div class="row">
							<div class="text-right">
								<h:commandLink	styleClass="btn btn-success"
									action="#{medioPagoMB.asociarTarjetaSocio()}" p:data-click-on="enter">
										Asociar
								</h:commandLink>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>