<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		Profesores
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<h2 id="titulo" class="text-center">
						<h:outputText rendered="#{!profesorMB.editMode}"
							value="Nuevo Empleado Profesor">
						</h:outputText>
						<h:outputText rendered="#{profesorMB.editMode}"
							value="Editar profesor #{profesorMB.profesor.nombre}">
						</h:outputText>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h:form>
						<h:messages styleClass="list-group"
							warnClass="list-group-item list-group-item-danger"
							errorClass="list-group-item list-group-item-danger"
							infoClass="list-group-item list-group-item-success" />
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Nombre</label>
								<h:inputText type="text" label="nombre" id="nombre"
									p:placeholder="" p:data-minlength="6"
									value="#{profesorMB.profesor.nombre}" styleClass="form-control"
									p:autocomplete="new-password" />
							</div>
							<div class="col-md-6 form-group">
								<label>Apellido</label>
								<h:inputText type="text" label="apellido" id="apellido"
									p:placeholder="" value="#{profesorMB.profesor.apellido}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Nro. Empleado</label>
								<h:inputText p:type="text" label="nroEmpleado" id="nroEmpleado"
									p:placeholder="" value="#{profesorMB.profesor.nroEmpleado}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>DNI</label>
								<h:inputText p:type="text" label="dni" id="dni" p:placeholder=""
									value="#{profesorMB.profesor.dni}" styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Email</label>
								<h:inputText p:type="email" label="mail" id="mail"
									p:placeholder="" value="#{profesorMB.profesor.mail}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Domicilio</label>
								<h:inputText p:type="text" label="domicilio" id="domicilio"
									p:placeholder="" value="#{profesorMB.profesor.domicilio}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Sueldo Basico</label>
								<h:inputText p:type="text" label="sueldoBasico"
									id="sueldoBasico" p:placeholder=""
									value="#{profesorMB.profesor.sueldoBasico}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Precio Horas</label>
								<h:inputText p:type="text" label="precioHs" id="precioHs"
									p:placeholder="" value="#{profesorMB.profesor.precioHs}"
									styleClass="form-control" />
							</div>
						</div>
						<div class="row">
						<div class="col-md-6 form-group">
								<label>CBU</label>
								<h:inputText p:type="text" label="cbu" id="cbu"
									p:placeholder="" value="#{profesorMB.profesor.cbu}"
									styleClass="form-control" />
							</div>
						</div>
						<div class="row">
							<div class="text-right">
								<h:outputLink styleClass="btn btn-primary"
									value="admProfesor.xhtml">Volver</h:outputLink>
								<h:commandLink rendered="#{!profesorMB.editMode}"
									styleClass="btn btn-success" action="#{profesorMB.create()}"
									p:data-click-on="enter">
										Crear
								</h:commandLink>
								<h:commandLink rendered="#{profesorMB.editMode}"
									styleClass="btn btn-success" action="#{profesorMB.update()}"
									p:data-click-on="enter">
									Actualizar
								</h:commandLink>
							</div>
						</div>
					</h:form>
					<h:form>


					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>