<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		Nuevo Socio
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<h2 id="titulo" class="text-center">
						<h:outputText rendered="#{!socioMB.editMode}" value="Nuevo Socio">
						</h:outputText>
						<h:outputText rendered="#{socioMB.editMode}" value="Ediar socio #{socioMB.socio.nombre}">
						</h:outputText>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h:form>
						<h:messages styleClass="list-group"
							warnClass="list-group-item list-group-item-danger"
							errorClass="list-group-item list-group-item-danger"
							infoClass="list-group-item list-group-item-success" />
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Nombre</label>
								<h:inputText type="text" label="nombre" id="nombre"
									p:placeholder="" p:data-minlength="6"
									value="#{socioMB.socio.nombre}" styleClass="form-control"
									p:autocomplete="new-password" />
							</div>
							<div class="col-md-6 form-group">
								<label>DNI</label>
								<h:inputText p:type="text" label="dni" id="dni"
									p:placeholder="" value="#{socioMB.socio.dni}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Apellido</label>
								<h:inputText type="text" label="apellido" id="apellido"
									p:placeholder="" value="#{socioMB.socio.apellido}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Email</label>
								<h:inputText p:type="email" label="mail" id="mail"
									p:placeholder="" value="#{socioMB.socio.mail}"
									styleClass="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Domicilio</label>
								<h:inputText p:type="text" label="domicilio" id="domicilio"
									p:placeholder="" value="#{socioMB.socio.domicilio}"
									styleClass="form-control" />
							</div>
							<div class="col-md-3 form-group" >
								<label> 
									<h:selectBooleanCheckbox
										value="#{socioMB.socio.aptoFisico}" />
									<span>Apto Fisico</span>
								</label>
							</div>
							<div class="col-md-3 form-group" >
								<label> Abono </label>
								<h:selectOneMenu value="#{socioMB.abonoSeleccionado}"
										styleClass="form-control">
										<f:selectItems value="#{socioMB.abonos}"
												var="abono"
												itemValue="#{abono.id}" 
												itemLabel="#{abono.nombre} [#{abono.descuento}]"/>
								</h:selectOneMenu>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-3 form-group">
								<label>Nuevo servicio</label>
								<div class="input-group">
									<h:selectOneMenu value="#{socioMB.servicioSeleccionado}"
										styleClass="selectpicker form-control">
										<f:selectItems value="#{socioMB.servicios}" 
														var="servicio"
														itemValue="#{servicio.id}" 
														itemLabel="#{servicio.nombre} - $#{servicio.costo}" />
									</h:selectOneMenu>
									<span class="input-group-btn">
										<h:commandLink styleClass="btn btn-success"
											action="#{socioMB.agregarServicio()}">
											Agregar
										</h:commandLink>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<h4>Servicios</h4>
							<div class="col-md-6 col-md-offset-3">
								<ul class="list-group">
									<ui:repeat value="#{socioMB.socio.servicios}" var="servicio">
										<li class="list-group-item">
											<h:outputText value="#{servicio.nombre}"/>
											-
											$<h:outputText value="#{servicio.costo}"/>
											<h:commandLink 
												action="#{socioMB.sacarServicio(servicio)}"
												styleClass="pull-right text-danger" >
												x
											</h:commandLink>
										</li>
									</ui:repeat>
								</ul>
							</div>
						</div>		
						<h4>Formas de pago</h4>
						<div class="row">
							<div class="col-md-6">
								<h5>Tarjeta</h5>
								<div class="form-group">
									<label>Fecha</label>
									<h:inputText p:type="date" label="fecha"
										value="#{socioMB.tarjeta.fecha}" styleClass="form-control">
										<f:convertDateTime pattern="yyyy-mm-dd" />
									</h:inputText>
								</div>
								<div class="form-group">
									<label>Numero</label>
									<h:inputText type="text" 
										value="#{socioMB.tarjeta.numero}" styleClass="form-control"
										/>
								</div>
								<div class="form-group">
									<label>Cod. Seg.</label>
									<h:inputText type="text" 
										value="#{socioMB.tarjeta.codseg}" styleClass="form-control"
										/>
								</div>
							</div>
							<div class="col-md-6">
								<h5>Transferencia</h5>
								<div class="form-group">
									<label>Fecha</label>
									<h:inputText p:type="date" label="fecha"
										value="#{socioMB.transferencia.fecha}" styleClass="form-control">
										<f:convertDateTime pattern="yyyy-mm-dd" />
									</h:inputText>
								</div>
								<div class="form-group">
									<label>CBU</label>
									<h:inputText type="text" 
										value="#{socioMB.transferencia.cbu}" styleClass="form-control"
										/>
								</div>
							</div>
						</div>					
						<div class="row">
							<div class="text-right">
								<h:outputLink styleClass="btn btn-primary"
									value="admSocio.xhtml">Volver</h:outputLink>
								<h:commandLink
									rendered="#{!socioMB.editMode}"
									styleClass="btn btn-success"
									action="#{socioMB.create()}"
									p:data-click-on="enter">
										Crear
								</h:commandLink>
								<h:commandLink
									rendered="#{socioMB.editMode}" 
									styleClass="btn btn-success"
									action="#{socioMB.update()}"
									p:data-click-on="enter">
									Actualizar
								</h:commandLink>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>