<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		Medio de Pago
	</ui:define>
	<ui:define name="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<h2 id="titulo" class="text-center">
						Seleccionar Medio de Pago
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="row">
						 <h:commandLink styleClass="btn btn btn-primary" 
					       		value="mpTarjeta.xhtml" p:data-click-on="enter">
					       		Tarjeta
					 	      <f:param name="id" value="#{medioPagoMB.socio.id}" /> 
				      	 </h:commandLink>
						 <h:commandLink styleClass="btn btn btn-primary" 
					       		value="mpTransferencia.xhtml" p:data-click-on="enter">
					       		Transferencia
					 	      <f:param name="id" value="#{medioPagoMB.socio.id}" /> 
				      	 </h:commandLink>		
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>